<div class="auth">
  <form class="auth_form" (submit)="onSubmit()">
    <h1>Register form</h1>
    <tui-textfield class="auth_input">
      <label tuiLabel>Full Name</label>
      <input tuiTextfield />
      <tui-icon icon="@tui.circle-user" />
    </tui-textfield>
    <tui-textfield class="auth_input">
      <label tuiLabel>Username</label>
      <input tuiTextfield />
      <tui-icon icon="@tui.circle-user" />
    </tui-textfield>
    <tui-textfield class="auth_input">
      <label tuiLabel>Email</label>
      <input tuiTextfield />
      <tui-icon icon="@tui.mail" />
    </tui-textfield>

    <tui-textfield class="auth_input">
      <label tuiLabel>Password</label>
      <input tuiTextfield />
      <tui-icon tuiPassword />
    </tui-textfield>
    <tui-textfield class="auth_input">
      <label tuiLabel>Confirm Password</label>
      <input tuiTextfield />
      <tui-icon tuiPassword />
    </tui-textfield>
    <button class="auth_button" tuiButton type="submit">Register</button>
    <div class="auth_with_services">
      <span>or</span>
      <google-button />
    </div>
  </form>
  <div class="auth_form">
    <span>You have an account?</span>
    <a routerLink="/login">Login</a>
  </div>
</div>
